@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,input,textarea{margin:0;padding:0;}
body{font-family:"微软雅黑","宋体","黑体";}
ul,ol,dl{list-style:none;}
a{text-decoration:none;}
a:hover{color:#c81623;}
img,input,textarea{border:none;}
/*清除浮动*/
.clear:after{content:"200B";display:block;height:0;font-size:0;clear:both;}
/*兼容IE6/7*/
.clear{*zoom:1;}

/*页面公共部分*/

/*主要内容宽度*/
.inner{width:1210px;margin:0 auto;}
/*楼层导航栏*/
.floor .title{margin-top:16px;border-bottom:1px solid #c81623;}
.floor .title h2{float:left;font:20px/35px "宋体";color:#333;}
.floor .title h2 i{display:inline-block;width:31px;height:25px;font:normal 14px/25px "微软雅黑";color:#fff;background:url("../images/1f.png") no-repeat 0 -35px;padding:2px 10px 0 4px;transition:all 1s;}
.floor .title h2 i.active{background-position:0 0;}

.floor .title .nav{float:right;border-top:1px solid #ededed;}
.floor .title .nav ul{border-left:1px solid #ededed;border-right:1px solid #ededed;}
.floor .title .nav li{float:left;height:32px;position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.floor .title .nav li a{display:block;font:12px/34px "宋体";color:#666;padding:0 17px;}
.floor .title .nav li span{width:1px;height:14px;background-color:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}

/*.floor .nav li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;position:relative;margin-top:-1px;padding-top:1px;z-index:3;}
.floor .nav li a:hover{background-color:#fff;height:34px;}
.floor .nav li:hover span{background-color:#fff;}*/

.floor .title .nav li.ac{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;position:relative;margin-top:-1px;padding-top:1px;z-index:3;}
.floor .title .nav li.ac a{background-color:#fff;height:34px;}
.floor .title .nav li.ac span{background-color:#fff;}

/*页面导航*/
/*
.sideNav{}
.sideNav ul{position:fixed;top:25%;left:0;}
.sideNav ul li{width:30px;position:relative;}
.sideNav ul li a{display:inline-block;width:30px;height:30px;text-align:center;font:14px/30px "微软雅黑";color:#666666;position:relative;}
.sideNav ul li a:after{content:"";width:14px;border-bottom:1px dotted #666;position:absolute;top:30px;left:7px;}
.sideNav ul li:last-child a:after{opacity:0;}
.sideNav ul li span{display:none;width:31px;height:31px;font:14px/30px "微软雅黑";color:#666666;position:absolute;top:0;left:0;opacity:0;}
.sideNav ul li .ac{background-color:#fff;color:#c81623;display:inline-block;}
.sideNav ul li:hover span{background-color:#c81623;color:#fff;opacity:1;}
.sideNav ul li a:hover:after{opacity:0;}
*/

.sideNav{width:1210px;margin:0 auto;display:none;}
.sideNav ul{position:fixed;left:0;top:50px;}
.sideNav ul li{text-align:center;}
.sideNav ul li a{color:#666;display:inline-block;width:30px;font:14px/30px "微软雅黑";border-bottom:1px dotted #cccccc;position:relative;}
.sideNav ul li:last-child a{border-bottom:none;}
.sideNav ul li span{display:none;height:30px;width:30px;font:14px/30px "微软雅黑";position:absolute;left:0;top:0;color:#fff;border-bottom:1px solid #c81623;}
.sideNav ul li .ac{color:red;display:inline-block;background:#fff;}
.sideNav ul li:hover span{background:#c81623;color:#fff;display:inline-block;}